<!DOCTYPE html>
<html>
  <head>
    <title>Fan Profile</title>
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>

    <h2>Stadium Details</h2>

    <hr>

    <h2>Requests</h2>

    <hr>

    <form action="/logout" method="get">
      <button type="submit">Logout</button>
  </body>
</html>
