<!-- Include links to Bootstrap and an icon font in the head of your document -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  rel="stylesheet"
/>

<!-- Choose a color scheme for your templates -->
<style>
  :root {
    --primary-color: #00b8d4; /* for example */
    --secondary-color: #bdbdbd; /* for example */
  }
</style>

<!-- Add a navbar to the top of the page -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Matches System</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Display a form to delete a club from the system -->
<div class="container mt-5">
  <h3>Delete a club</h3>
  <form action="/admin/deleteClub" method="POST">
    <!-- Add some customization to the form fields -->
    <div class="form-group">
      <label for="clubName">Club Name</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-futbol"></i></span>
        </div>
        <input
          type="text"
          class="form-control"
          name="clubName"
          placeholder="Enter club name"
        />
      </div>
    </div>
    <!-- Add some customization to the submit button -->
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-trash"></i> Delete
    </button>
  </form>

  <!-- Add a logout button with a link to the logout route -->
  <form action="/logout" method="get">
    <button type="submit" class="btn btn-secondary">
      <i class="fa fa-sign-out-alt"></i> Log out
    </button>
  </form>
</div>

<!-- Include links to jQuery and Bootstrap JS at the end of the document for faster loading -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
