version: "3"

services:
  app:
    image: node:19
    build: .
    ports:
      - "8080:8080"
    working_dir: /app
    volumes:
      - ./:/app
    depends_on:
      - db
  db:
    image: mcr.microsoft.com/mssql/server:2017-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Amir@1234567
    ports:
      - "1433:1433"
    volumes:
      - ./db:/var/opt/mssql
