<!DOCTYPE html>
<html>
  <head>
    <title>Club Representative</title>
    <!-- Add links to Bootstrap CSS and custom styles -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Add a navbar with links to other pages -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Matches System</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/clubRepresentative/clubDetails"
              >Club Details</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clubRepresentative/upcomingMatches"
              >Upcoming Matches</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clubRepresentative/availableStadiums"
              >Available Stadiums</a
            >
          </li>
          <!-- Add a logout button with a link to the logout route -->
          <li class="nav-item">
            <a class="nav-link" href="/logout"
              ><i class="fa fa-sign-out-alt"></i> Log out</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-5">
      <h1>Welcome, <%= username %>!</h1>
    </div>
  </body>

  <!-- Include links to jQuery and Bootstrap JS at the end of the document for faster loading -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</html>
