<form method="POST" action="/">
  <div class="row mb-3">
    <label for="inputUsername3" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input
        type="text"
        name="username"
        class="form-control"
        id="inputUsername3"
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input
        type="password"
        name="password"
        class="form-control"
        id="inputPassword3"
      />
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Sign in" />
  <!-- let the user to register if he doesn't have an account -->
  <a href="/register">Don't have an account? register, now! </a>
</form>
