<!DOCTYPE html>

<html>
  <head>
    <title>Sports Manager</title>
  </head>
  <body>
    <h1>Welcome <% username %></h1>

    <form action="/sportsManager/addMatch" method="get">
      <button type="submit">Add a new match</button>
    </form>

    <form action="/sportsManager/deleteMatch" method="get">
      <button type="submit">Delete a match</button>
    </form>

    <form action="/sportsManager/viewUpcomingMatches" method="post">
      <button type="submit">View upcoming matches</button>
    </form>

    <form action="/sportsManager/viewAlreadyPlayedMatches" method="post">
      <button type="submit">View already played matches</button>
    </form>

    <form action="/sportsManager/viewNeverPlayedClubs" method="post">
      <button type="submit">
        View pair of club names who never scheduled to play with each other
      </button>
    </form>

    <form action="/logout" method="get">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
